<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8ar-ifAVf-PjWlTDpyBSzxhA2At1uOZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>550239393196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bankingapp-6afda</string>
	<key>STORAGE_BUCKET</key>
	<string>bankingapp-6afda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550239393196:ios:c4e9fe212247334d931609</string>
</dict>
</plist>